.info-us__title {
  font-family: 'Yeseva One';
  padding-top: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 460px) {
  .info-us__title {
    width: 184px;
    padding-top: 60px;
    font-size: 1.75rem;
    line-height: 2rem;

  }
}
