.features__black-round {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  font-size: 500%;
  position: absolute;
  box-shadow: inset -10px -10px 100px #000, 10px 10px 20px rgb(71, 39, 2), inset 0px 0px 10px black;
  margin: auto;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 900px) {
  .features__black-round {
    height: 340px;
    width: 340px;
  }
}

@media screen and (max-width: 700px) {
  .features__black-round {
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .features__black-round {
    height: 230px;
    width: 230px;
  }
}
